@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Style Start */
*{
	/* border: 1px solid red; */
}
.contain{
  max-width: 1200px;
  margin: auto;
}
/* Global Style End */

/* Hero Section Start */
.bg{
	background-image: url(/public/bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-gd{
	background-color:hsla(0,100%,50%,0);
	background-image:
	radial-gradient(at 80% 100%, hsla(240,100%,70%,0) 0px, transparent 50%),
	radial-gradient(at 71% 60%, hsla(11,81%,56%,0.12) 0px, transparent 50%);
}




.main-title {
	text-align: center;
  }
.sec-title {
	position: relative;
  }
  .sec-title span {
	font-size: 10rem;
	text-transform: uppercase;
	font-weight: 900;
	background: -webkit-gradient(
	  linear,
	  right top,
	  left top,
	  from(#ffffff45),
	  to(#ffffff00)
	);
	background: -o-linear-gradient(right, #ffffffd2 0%, #ffffff00 100%);
	background: linear-gradient(270deg, #ffffff8c 0%, #ffffff00 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
  }
  .sec-title h1 {
	font-size: 5rem;
	text-transform: capitalize;
	font-weight: 500;
	position: absolute;
	color: #ffffffd3;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 3rem;
  }
  .sec-title img {
	position: absolute;
	max-width: 30rem;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 1rem;
  }
  .main-title {
	margin-bottom: 10rem;
  }
  .main-title p {
	color: var(--transparent);
	margin-top: 1rem;
  }







  .sphere {
	max-width: 100%;
	height: auto;
  }
  
  .animation-wrapper {
	width: 100%;
	height: 100%;
  }
  


.hero_p{
	animation: blurP linear 1 5.2s;
}
.svg1{
	font-family: "Russo One", sans-serif;
	width: 100%;
    height: 100%;
}
.svg2{
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
.svg3{
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
.svg4{
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
.text1{
	animation: stroke1 5s 1;
	stroke-width: 2;
	stroke: transparent;
	font-size: 64px;
    fill: #B7AA97;
    font-weight: bold;
}
.text2{
	animation: stroke2 5s 1;
	stroke-width: 2;
	stroke: transparent;
	font-size: 64px;
    fill: #B7AA97;
    font-weight: bold;
}
.text3{
	animation: stroke3 5s 1;
	stroke-width: 2;
	stroke: transparent;
	font-size: 64px;
    fill: #EC5938;
    font-weight: bold;
}
.text4{
	animation: stroke4 5s 1;
	stroke-width: 2;
	stroke: transparent;
	font-size: 64px;
    fill: #EC5938;
    font-weight: bold;
}

@keyframes stroke1 {
	0%   {
		fill: rgba(183,170,151,0); stroke: rgba(183,170,151,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(183,170,151,0); stroke: rgba(183,170,151,1); }
	80%  {fill: rgba(183,170,151,0); stroke: rgba(183,170,151,1); stroke-width: 3; }
	100% {
		fill: rgba(183,170,151,1); stroke: rgba(183,170,151,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
@keyframes stroke2 {
	0%   {
		fill: rgba(183,170,151,0); stroke: rgba(183,170,151,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(183,170,151,0); stroke: rgba(183,170,151,1); }
	80%  {fill: rgba(183,170,151,0); stroke: rgba(183,170,151,1); stroke-width: 3; }
	100% {
		fill: rgba(183,170,151,1); stroke: rgba(183,170,151,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
@keyframes stroke3 {
	0%   {
		fill: rgba(236,89,56,0); stroke: rgba(236,89,56,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(236,89,56,0); stroke: rgba(236,89,56,1); }
	80%  {fill: rgba(236,89,56,0); stroke: rgba(236,89,56,1); stroke-width: 3; }
	100% {
		fill: rgba(236,89,56,1); stroke: rgba(236,89,56,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
@keyframes stroke4 {
	0%   {
		fill: rgba(236,89,56,0); stroke: rgba(236,89,56,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(236,89,56,0); stroke: rgba(236,89,56,1); }
	80%  {fill: rgba(236,89,56,0); stroke: rgba(236,89,56,1); stroke-width: 3; }
	100% {
		fill: rgba(236,89,56,1); stroke: rgba(236,89,56,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
@keyframes blurP {
	from{
		filter: blur(7px)
	}
	to{
		filter: blur(0px)
	}
}
/* Header Section End */

/* Media Quiry Start */
@media (1500px < width < 10000px) {		
	.contain{
		max-width: 1500px;
		margin: auto;
	}

	/* Hero Section */
	.text1, .text2, .text3, .text4{
		font-size: 90px;
	}
}
/* Media Quiry End */
